version: '3.8'

services:
  reference-db:
    image: postgres:15
    container_name: reference-db
    environment:
      POSTGRES_USER: ${REFERENCE_DB_USER}
      POSTGRES_PASSWORD: ${REFERENCE_DB_PASSWORD}
      POSTGRES_DB: ${REFERENCE_DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-scripts/reference-service-db:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    networks:
      - app-network

  character-db:
    image: mongo:6.0
    container_name: character-db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${CHARACTER_DB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${CHARACTER_DB_PASSWORD}
      MONGO_INITDB_DATABASE: ${CHARACTER_DB_NAME}
    volumes:
      - ./init-scripts/character-service-db:/docker-entrypoint-initdb.d
      - character_data:/data/db
    ports:
      - "27017:27017"
    networks:
      - app-network

  user-db:
    image: postgres:15
    container_name: user-db
    environment:
      POSTGRES_USER: ${USER_DB_USER}
      POSTGRES_PASSWORD: ${USER_DB_PASSWORD}
      POSTGRES_DB: ${USER_DB_NAME}
    volumes:
      - user_data:/var/lib/postgresql/data
      - ./init-scripts/user-service-db:/docker-entrypoint-initdb.d
    ports:
      - "5433:5432"
    networks:
      - app-network

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:9093,EXTERNAL://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:9093,EXTERNAL://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    networks:
      - app-network

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    networks:
      - app-network

  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    ports:
      - "9080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9093
    networks:
      - app-network
    depends_on:
      - kafka
  redis:
    container_name: redis
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - app-network

#  dice-service:
#    image: ramoni73/dice-service:latest
#    container_name: dice-service
#    ports:
#      - "8090:8080"
#    environment:
#      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
#    depends_on:
#      - kafka
#    networks:
#      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
  character_data:
  user_data:
