# Reference DB (PostgreSQL)
REFERENCE_DB_USER=reference_user
REFERENCE_DB_PASSWORD=reference_password
REFERENCE_DB_NAME=reference_db

# Character DB (MongoDB)
CHARACTER_DB_USER=character_user
CHARACTER_DB_PASSWORD=character_password
CHARACTER_DB_NAME=character_db

# User DB (PostgreSQL)
USER_DB_USER=user_user
USER_DB_PASSWORD=user_password
USER_DB_NAME=user_db

# Gateway
DND_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID # Получим после настройки в гугле
DND_GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET # Получим после настройки в гугле
DND_JWT_SECRET=mySuperSecretKeyForDevOnly123! # Придумываем сами