server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: character-service
          uri: http://localhost:8082
          predicates:
            - Path=/character/rest/api/v*/**
          filters:
            - RewritePath=/character/(?<segment>.*), /$\{segment}

        - id: dice-service
          uri: http://localhost:8090
          predicates:
            - Path=/dice/rest/api/v*/**
          filters:
            - RewritePath=/dice/(?<segment>.*), /$\{segment}

        - id: reference-service
          uri: http://localhost:8081
          predicates:
            - Path=/reference/rest/api/v*/**
          filters:
            - RewritePath=/reference/(?<segment>.*), /$\{segment}