server:
  port: ${SERVER_PORT:8070}

spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://${USER_DB_HOST:localhost}:${USER_DB_PORT:5433}/${USER_DB_NAME:user_service_db}
    username: ${USER_DB_USER:user_user}
    password: ${USER_DB_PASSWORD:user_password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate.ddl-auto: validate
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/master.xml
