server:
  port: ${SERVER_PORT:8081}

spring:
  datasource:
    url: jdbc:postgresql://${REFERENCE_DB_HOST:localhost}:${REFERENCE_DB_PORT:5432}/${REFERENCE_DB_NAME:reference_service_db}
    username: ${REFERENCE_DB_USER:reference_user}
    password: ${REFERENCE_DB_PASSWORD:reference_password}
    driver-class-name: org.postgresql.Driver

  jpa:
    properties:
      hibernate:
        generate_statistics: true
        cache:
          use_second_level_cache: true
          use_query_cache: true
          region:
            factory_class: org.redisson.hibernate.RedissonRegionFactory
          redisson:
            config: redisson.yaml
            cache_default_ttl: 3600000
    hibernate:
      ddl-auto: validate

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/master.xml

  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}
    username: ${REDIS_USER:admin}
    password: ${REDIS_PASSWORD:admin_pass}
    database: 0
    timeout: 5000ms

logging:
  level:
    org.hibernate.cache: DEBUG
    org.redisson: DEBUG