server:
  port: ${SERVER_PORT:8081}

spring:
  datasource:
    url: jdbc:postgresql://${REFERENCE_DB_HOST:localhost}:${REFERENCE_DB_PORT:5432}/${REFERENCE_DB_NAME:reference_service_db}
    username: ${REFERENCE_DB_USER:reference_user}
    password: ${REFERENCE_DB_PASSWORD:reference_password}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate.ddl-auto: validate

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/master.xml

  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}
    username: ${REDIS_USER:admin}
    password: ${REDIS_PASSWORD:admin_pass}
    database: 0
    timeout: 5000ms

  cache:
    type: redis
    redis:
      time-to-live: 3600000  # 1 час
      cache-null-values: false